@use "./base.scss";

// put your custom CSS here!
:root[saved-theme="light"] {
  --light: #ffffff;
  --lightgray: #f6f8fa;
  --gray: #d0d7de;
  --dark: #24292f;

  --secondary: #0969da;
  --tertiary: #218bff;
}

:root[saved-theme="dark"] {
  --light: #0d1117;
  --lightgray: #161b22;
  --gray: #30363d;
  --dark: #c9d1d9;

  --secondary: #58a6ff;
  --tertiary: #79c0ff;
}
